.organization-info {
  display: none;
}

/* Map styles */
#mapid {
  height: 400px;
  width: 70%;
  z-index: 10;
  margin: 0 auto 12px;
  display: none;
}

/* Calendar styles */
.flatpickr-calendar.inline {
  box-shadow: none;
  margin: 0 auto;
  border: none;

}

div.flatpickr-days {
  border-left: none;
  border-right: none;
}

.dt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
